{{!-- <div class="container-fluid">
    <h2>{{title}}</h2>
    <p>{{user.userName}}</p>
    <p>{{date_created}}</p>
    <p>{{content}}</p>
    <p>{{comment.content}}</p>
</div> --}}

<div class="container-fluid" style="text-align: center;"> 
    <h3 style="margin-top:45px">Current Posts:</h3>
        <ul style="list-style-type: none;">
            <div class="card text-center" style="margin-bottom: 30px; margin-right:20%; margin-left:20%">
                <div class="card-header" style="background-color:rgb(102, 255, 224)">
                Fresh Sauce
                </div>
                <div class="card-body" style="background-color: rgb(208, 248, 247);">
                <h5 class="card-title"><li><a href="/blogPost/{{post.id}}">{{title}}</a></li></h5>
                <p class="card-text">{{date_created}}</p>
				<p class="card-text">{{content}}</p>

                </div>
                <div class="card-footer text-muted" style="background-color: rgb(202, 201, 249);">
                <li>This post was written by{{user.userName}}</li>
                </div>
                </div>
        </ul>
</div>

             <div class="text-center">
                <h4>Comments!!!</h4>
                {{#each comments as |comment| }}
                    <div>
                        <p>{{comment.content}} by {{user.userName}} on {{comment.date_created}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mx-auto mt-3">
        <form id="comment-form">
            <div class="form-group">
                <label for="comment-form"><strong>COMMENT</strong></label>
                <textarea class="form-control {{this.id}}" style="background: beige" id="comment" rows="3"></textarea>
                <div class="text-center">
                    <button type="submit" id="submit-comment" class="text-center mt-3 btn btn-dark btn-lg btn-block">Submit</button>
                </div> 
            </div>
        </form>
    </div>
</div>

<style>
    #comment-form{
        padding: 45px;
    }
</style>


<script src="/js/newComment.js"></script>
{{!-- <script src="/js/deleteComment.js"></script>    
<script src="/js/editComment.js"></script> --}}
